@import url('https://fonts.googleapis.com/css?family=Poppins');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url("background2.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    background-size: cover;
}


header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items:center;
}

.logo {
    font-size: 2em;
    color: #fff;
    user-select: none;
}

.navigation a {
   position: relative;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    margin-left: 40px;
    text-decoration: none;
}

.navigation a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform: scaleX(0);
    transition: transform 0.35s;
}

.navigation a:hover::after {
    transform: scaleX(1);
}

.navigation .btn-pop {
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #fff;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    margin-left: 40px;

    transition: 0.35s;
}

.navigation .btn-pop:hover {
    background: #fff;
    color: #162938;
}


.home_description_container {

    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.home_description {
    height: 275px;
    position: relative;
    width: 550px;
    border-radius: 5px;
    background: rgba(174,192,206,255);
    border: transparent;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}

.home_description h2 {
    color: #fff;
    background-color: rgba(25,37,59,255);
    width: 100%;
    padding: 10px;
}

.home_description p {
    color: #162938;
    /* background-color: rgba(174,192,206,255); */
    padding-left: 20px;
    padding-right: 20px;
}


.login_wrapper {
    position: relative;
    width: 400px;
    height: 540px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius : 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transform: scale(0);
    transition: transform 0.35s ease, height 0.2s ease;
}

.login_wrapper.active-pop{
    transform: scale(1);
    height: 540px;
}

.login_wrapper.active {
    height: 540px;
}

.login_wrapper.institute {
    height: 570px;
    width: 450px;
}

.login_wrapper .login-box {
    width: 100%;
    padding: 30px;
}

.login_wrapper .login-box{
    transition: transform 0.18s ease;
    transform: translateX(0);
}

.login_wrapper.active .login-box{
    transition: none;
    transform: translateX(-400px);
}

.login_wrapper.institute .login-box{
    transition: none;
    transform: translateX(-450px);
}

.login-box h2 {
   font-size: 2em;
   color: #fff;
   text-align: center;
}

.login-input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #fff;
    margin: 30px 0;
}

.login-input-box label {
    position: absolute;
    top: -10%;
    left: 5px;
    transform: translateY(-45%);
    font-size: 1em;
    color: #fff;
    font-weight: 500;
    pointer-events: none;
}

.login-input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #fff;
    font-weight: 600;

}

:-ms-input-placeholder {
    color: #fff;
    font-weight: 450;
}

.login-input-box .icon {
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: #fff;
    line-height: 57px;
}

.home_description .icon {
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: #fff;
    line-height: 57px;  
}

.forgot-pass {
    font-size: .9em;
    color: #fff;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}

.forgot-pass a{
    color: #fff;
    text-decoration: none;
}

.forgot-pass a:hover {
    text-decoration: underline;
}

.btn {
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: #162938;
    font-weight: 500;
}

.login-register {
    font-size: 0.9em;
    color: #fff;
    text-align: center;
    font-weight: 500;
    margin: 14px 0 10px;
}

.login-register p a{
    color: #fff;
    text-decoration: none;
    font-weight: 600
}

.login-register p a:hover {
    text-decoration: underline;
}

.login_wrapper .icon-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: transparent;
    font-size: 2em;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index : 1;
}

.new-icon-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: transparent;
    font-size: 2em;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index : 1;
}

.login_wrapper .registration-box {
    position: absolute;
    transition: none;
    transform: translateX(400px);
    font-size: 1em;
    color: #fff;
    text-align: center;
}

.login_wrapper.active .registration-box{
    transition: transform 0.18s ease;
    transform: translateX(0);
}

.login_wrapper.institute .registration-box{
    transition: none;
    transform: translateX(-450px);
}


.login_wrapper .institution-reg-box {
    position: absolute;
    transition: none;
    transform: translateX(450px);
    font-size: 1em;
    color: #fff;
    text-align: center;
    width: 100%;
    padding: 30px;
}

.login_wrapper.institute .institution-reg-box {
    transition: transform 0.18s ease;
    transform: translateX(0);
}

